<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NReco.PdfGenerator.LT" version="1.2.1" targetFramework="net48" />
  <package id="Syncfusion.Compression.Net.Core" version="23.1.40" targetFramework="net48" />
  <package id="Syncfusion.HtmlToPdfConverter.Net.Windows" version="23.1.40" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="23.1.40" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Net.Core" version="23.1.40" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net48" />
</packages>